<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ubiquity Band</title>
        <!-- Favicon-->
        <link rel="icon" href="{{url_for('static', filename='/img/favicon.ico')}}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />

    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Ubiquity</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/band">Band</a></li>
                            <li class="nav-item"><a class="nav-link" href="/shows">Shows</a></li>
                            <li class="nav-item"><a class="nav-link" href="/music">Music</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ubiquity</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="/login">Admin Login</a></li>
                                    <li><a class="dropdown-item text-danger" href="/logout">Admin Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="limiter">
                <div class="container-login100Registration">
                    <div class="wrap-login100">

                        <form  autocomplete="off" class="registration100-form validate-form" action="/add_member/query" method="POST" enctype="multipart/form-data">
                            <img class="login100-form-logo" src="{{url_for('static', filename='img/ubiquity_logo.png')}}" alt="IMG">
                            <span class="login100-form-title">
                                {% with messages = get_flashed_messages(category_filter = ['register']) %}
                                {% if messages%}
                                    {% for message in messages %}
                                    <p ><strong> <u class="text-white">{{message}}</u></strong></p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                                Add New Band Member
                            </span>
        
                            <div class="row register-form">
                                <div class="col-md-12 ">
                                    <div class="form-group mb-3 wrap-input100 validate-input">
                                        <input autocomplete="off" type="text" class="form-control registration" placeholder="First Name *"  name="first_name" />
                                        <span class="focus-registration"></span>
                                    </div>
                                    <div class="form-group mb-3 wrap-input100 validate-input">
                                        <input type="text" class="form-control registration" placeholder="Last Name *"  name="last_name" />
                                        <span class="focus-registration"></span>
                                    </div>
                                    <div class="form-group mb-3 wrap-input100 validate-input">
                                        <input autocomplete="off" type="text" class="form-control registration" placeholder="Role *" name="role" />
                                        <span class="focus-registration" ></span>
                                    </div>
                                    <div class="form-group mb-3 wrap-input100 validate-input">
                                        <textarea type="text" id="exampleFormControlTextarea1" class="form-control registrationtextarea" rows="3" placeholder="Bio *" name="bio"></textarea>
                                        <span class="focus-registrationtextarea"></span>
                                    </div>
                                    <div class="form-group mb-3 wrap-input100 validate-input">
                                        <input autocomplete="off" type="text" class="form-control registration" placeholder="Social Media link *" name="link" />
                                        <span class="focus-registration" ></span>
                                    </div>
                                    <div class="form-group form-group mb-3 wrap-input100 validate-input">
                                        <label class="text-white"><strong>Band Member Image :</strong></label>
                                        <input type="file" name="files[]" id="fileInput" class="form-control" multiple >
                                    </div>

                                </div>

                                    <button class="registration100-form-btn">
                                        Add Band Member
                                    </button>
                                </div>
                                <!-- <div class="text-center p-t-12">
                                    <span class="txt1">
                                        Forgot
                                    </span>
                                    <a class="txt2" href="#">
                                        Username / Password?
                                    </a>
                                </div> -->

                        </form>
                    </div>
                </div>
            </div>

            <!-- Footer-->
            <footer class="bg-dark py-4 mt-auto">
                <div class="container px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Ubiquity 2022</div></div>
                        <div class="col-auto">
                            <a class="link-light small" href="#!">Privacy</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Terms</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Contact</a>
                        </div>
                    </div>
                </div>
            </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src= " {{url_for('static', filename='js/scripts.js')}}"></script>


        <script>
            $(document).ready(function(){
             // File type validation
                $("#fileInput").change(function(){
                    var fileLength = this.files.length;
                    var match= ["image/jpeg","image/png","image/jpg","image/gif"];
                    var i;
                    for(i = 0; i < fileLength; i++){ 
                        var file = this.files[i];
                        var imagefile = file.type;
                        if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3]))){
                            alert('Please select a valid image file (JPEG/JPG/PNG/GIF).');
                            $("#fileInput").val('');
                            return false;
                        }
                    }
                });
            });
            </script>
    </body>
</html>







