<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ubiquity Band</title>
        <!-- Favicon-->
        <link rel="icon" href="{{url_for('static', filename='/img/favicon.ico')}}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />

    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {{navbar | safe}}
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-dark rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
                                <div class="contact-form">
                                    <form id="contact-form" action="#">
                                        <!-- Name input-->
                                        <div class="form mb-3">
                                            <input class="form-control" id="name" type="text" name="name" placeholder="Enter your name..."  />
                                        </div>
                                        <!-- Email address input-->
                                        <div class="form mb-3">
                                            <input class="form-control" id="email" type="email" placeholder="name@example.com"  name="email"/>
                                        </div>
                                        <!-- Message input-->
                                        <div class="form mb-3">
                                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"  name="message"></textarea>
                                        </div>
                                        <!-- Submit Button-->
                                        <div class="d-grid">
                                            <input  class="btn btn-primary btn-lg" id="submitButton" type="submit" id="form-submit" value="Send message">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                    <div class="col-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ubiquity</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                <li><a class="dropdown-item" href="/login">Admin Login</a></li>
                                <li><a class="dropdown-item text-danger" href="/logout">Admin Logout</a></li>
                            </ul>
                        </li>
                        
                    </div>
                </div>
            </div>
        </footer>

		<!-- Main jQuery -->
        <script src="static/js/jquery-1.11.1.min.js"></script>
		<!-- Single Page Nav -->

<!-- Contact form validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        
       
                <!-- Bootstrap core JS-->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <script type="text/javascript">
			$(function(){
				/* ========================================================================= */
				/*	Contact Form
				/* ========================================================================= */
				$('#contact-form').validate({
                    
                    
					rules: {
						name: {
							required: true,
							minlength: 2
						},
						email: {
							required: true,
							email: true
						},
						message: {
							required: true,
							minlength: 10
						}
					},
					messages: {
						name: {
							required: "Please enter your name",
							minlength: "your name must consist of at least 2 characters"
						},
						email: {
							required: "Please Enter Email"
						},
						message: {
							required: "Please write something to send this form.",
							minlength: "Your message must be at least 10 characters"
                            
						}
					},
					submitHandler: function(form) {
						$(form).ajaxSubmit({
							type:"POST",
							data: {
								name :$(name).val(),
								email :$(email).val(),
								message :$(message).val(),

							},
							url:"/a",

							success: function(data) {
								$('#contact-form :input').attr('disabled', 'disabled');
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$(this).find(':input').attr('disabled', 'disabled');
									$(this).find('label').css('cursor','default');
									$('#success').fadeIn();
									$('#successAlert').text(data.flash).show();
								});
							},
							error: function() {
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$('#error').fadeIn();
								});
							}
						})

					}
				});
			});
		</script>
    </body>
</html>
