<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ubiquity Band</title>
        <!-- Favicon-->
        <link rel="icon" href="{{url_for('static', filename='/img/favicon.ico')}}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />

    </head>
    <body class="d-flex flex-column">

            <!-- Navigation-->
            {{navbar | safe}}
            <!-- main -->
            <header class="py-3 bg-transparent">
                <div class="container px-5 bg-transparent">
                    <div class="row justify-content-center bg-transparent">
                        <div class="col-lg-8 col-xxl-6 bg-transparent">
                            <div class="text-center bg-transparent">
                                <img class="img-fluid rounded mb-5 mb-lg-0" id="css-drop-shadow" src="{{url_for('static', filename='img/ubiquity_logo.png')}}" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="py-3 bg-transparent mb-5">
                <div class="container px-5 bg-transparent">
                    <div class="row justify-content-center bg-transparent">
                        <div class=" ">
                            <h1 class="text-white text-center">Welcome {{user.user_name}},</h1>
                            <div class=" text-center d-grid gap-2 d-md-flex justify-content-md-center">
                                <a  class="btn btn-primary btn-sm m-2  " href="/add/member"><i class="bi bi-person-plus-fill"></i> Add New Band Member</a>
                                <a class="btn btn-primary btn-sm  m-2" href="/edit/band"> <i class="bi bi-people"></i> Manage Band Members</a>
                                <a class="btn btn-primary btn-sm m-2" href="/add/show"> <i class="bi bi-calendar-event"></i> Add A Show</a>
                                <a class="btn btn-primary btn-sm m-2" href="/edit/shows"><i class="bi bi-gear"></i> Manage Shows </a> 
                                <a class="btn btn-primary btn-sm m-2" href="/add/music"> <i class="bi bi-music-note-list"></i> Add Music</a>
                                <a class="btn btn-primary btn-sm m-2" href="/edit/music"><i class="bi bi-gear"></i>
                                    Manage Music <i class="bi bi-music-note"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer-->
            <footer class="bg-dark py-4 mt-auto">
                <div class="container px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Ubiquity 2022</div></div>
                        <div class="col-auto">
                            <a class="link-light small" href="#!">Privacy</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Terms</a>
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" href="#!">Contact</a>
                        </div>
                    </div>
                </div>
            </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>







