<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ubiquity Band</title>
        <!-- Favicon-->
        <link rel="icon" href="{{url_for('static', filename='/img/favicon.ico')}}">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" />

    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Ubiquity</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/band">Band</a></li>
                            <li class="nav-item"><a class="nav-link" href="/shows">Shows</a></li>
                            <li class="nav-item"><a class="nav-link" href="/music">Music</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ubiquity</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" href="/login">Admin Login</a></li>
                                    <li><a class="dropdown-item text-danger" href="/logout">Admin Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="py-3 bg-transparent">
                <div class="container px-5 bg-transparent">
                    <div class="row justify-content-center bg-transparent">
                        <div class="col-lg-8 col-xxl-6 bg-transparent">
                            <div class="text-center bg-transparent">
                                <img class="img-fluid rounded mb-5 mb-lg-0" id="css-drop-shadow" src='/static/img/ubiquity_logo.png' />
                            </div>
                        </div>
                    </div>
                </div>
            </header>
                        <!-- About section-->
                        {% for member in members %}
                        <form action="/edit_member/query" method="POST" enctype="multipart/form-data">
                            <section class="bg-dark py-5 mb-5">
                                <div class="container px-5">
                                    <div class="row gx-5 align-items-center justify-content-center">
                                        <div class="col-xl-5 col-xxl-6 d-xl-block text-center">
                                            <img src="{{ url_for('static', filename = 'uploads/'+member.image) }}" class="band-member mb-4">
                                            <div class="form-group form-group mb-3 wrap-input100 validate-input">
                                                <label class="lead fw-normal text-white-50 mb-4"><strong>Band Member Image :</strong></label>
                                                <input type="file" name="files[]" id="fileInput" class="form-control" multiple >
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                                            <div class="my-5 text-center text-xl-start ">
                                                <h1 class="display-5 fw-bolder text-white mb-2 bg-dark">Edit Band Member</h1>
                                                <div class=" lead fw-normal text-white mb-4 ">
                                                    <input type="hidden" name="id" value="{{member.id}}">
                                                    <label for="first_name">Fist Name:</label>
                                                    <input autocomplete="off" type="text" class="display-5 fw-bold text-white mb-2 bg-dark" value="{{member.first_name}}"  name="first_name" />

                                                    <label for="last_name">Last Name:</label>
                                                    <input autocomplete="off" type="text" class="display-5 fw-bold text-white mb-2 bg-dark" value="{{ member.last_name}}"  name="last_name" />

                                                    <label for="role">Role:</label>
                                                    <input autocomplete="off" type="text" class="display-5 fw-bold text-white mb-2 bg-dark" value="{{member.role}}"  name="role" />
                                                </div>
                                                <!-- <p class="lead fw-normal text-white-50 mb-4">{{member.bio}}</p> -->
                                                <div class="lead fw-normal text-white-50 mb-4">
                                                    <label for="bio">Bio:</label>
                                                    <textarea type="text" id="exampleFormControlTextarea1" class=" form-control registrationtextarea text-white mb-2 bg-dark" rows="7"  name="bio">{{member.bio}}</textarea>
                                                    <span class="focus-registrationtextarea"></span>

                                                    <label for="link">Social Media Link:</label>
                                                    <textarea autocomplete="off" type="text" class=" form-control registrationtextarea text-white mb-2 bg-dark"   name="link" >{{member.link}}</textarea>
                                                </div>
                                                
                                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                                    <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit" value="Update" >Update</button>
                                                    <a class="btn btn-danger btn-lg px-4 me-sm-3" href="/delete/member/{{member.id}}" >Delete Member</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </section>
                        </form>
                        
                        {% endfor %}

        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Ubiquity 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        
    </body>
</html>
